{% extends 'base.html.twig' %}

{% block title %}Nos Services gérer par nos Paysagistes{% endblock %}

{% block content %}

<h1 class="featurette-heading">Nos Services</h1>
<hr>
<img src="{{ asset('/assets/img/logo.jpg') }}" width="350" height="350" class="" alt="logo Espace Vert en ligne"></br>
<p>Comme vous pouvez le voir ci-dessus, une liste des différentes services que nous pouvons réaliser pour vous.</p>

<p>Necessité pas à <a href="{{ path('contact') }}"> Nous Contacter. </a></p>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-12">
        <h2 class="featurette-heading">Paysagiste :<span class="text-muted"> Creation de projet.</span></h2>
        <p class="lead">Espace Vert en Ligne est à votre service. Un projet d'aménagement paysager ? Un espace vert à entretenir ? Appelez notre entreprise Espace Vert en Ligne pour échanger avec nous sur vos besoins. Espace vert en Ligne vous accompagne de la réflexion à la réalisation de votre projet, jusqu'à l'entretien de votre jardin. Nous vous proposons un devis gratuit de nos prestations. Votre jardin est un espace de vie privilégié qui s'intègre dans votre vie familiale et peut devenir un  lieu d'agrément et de ressourcement au quotidien. Le regard d'un professionnel de l'aménagement paysager permet de faire de vos idées une création de jardin à votre image. Que vous ayez une terrasse, un espace vert, un balcon, une pergola, une allée, des massifs à aménager, nous mettons à votre service nos compétences de paysagiste pour concevoir une ambiance qui vous corresponde. Nous sommes à l'écoute de votre projet d'aménagement de votre espace extérieur; nous échangeons avec vous pour partir de vos idées et vous proposer notre expertise pour définir ensemble la prestation qui vous conviendra le mieux. Nous mettons à votre service notre expérience de l'aménagement paysager, notre connaissance des différentes essences de plantes pour vous proposer une création de jardin personnalisée et adaptée à la configuration de votre terrain.</p>
    </div>
    <div class="col-md-12">
        <img class="featurette-image img-fluid mx-auto img-thumbnail" src="{{ asset('/assets/img/tondre.jpg')}}"  alt="tondre pelouse" preserveAspectRatio="xMidYMid slice" focusable="false">
        {# <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" 
        width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" 
        focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect 
        width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> #}
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-12">
        <h2 class="featurette-heading">Elagage. <span class="text-muted">Elageurs qualifiés et experimentés.</span></h2>
        <p class="lead">L’élagage des arbres chez les particuliers est réalisé par des élagueurs qualifiés et expérimentés qui interviennent sur tout type de plantation, 
        aussi bien pour les jeunes arbres, que ceux qui sont plus que centenaires ! Notre métier est aussi de prolonger la vie de vos arbres. Ils ont besoin eux aussi 
        d’un peu d’entretien comme les arbustes. C’est ce que l’on appelle : l’élagage !Il existe de nombreuses façons de tailler un arbre, suivant les besoins, 
        les envies de nos clients . Il est primordial de respecter l’essence du végétal, son implantation, mais aussi tenir compte des caractéristiques du terrain, 
        des constructions et des arbres voisins qui sont à proximité. L’élagage permet à la fois de maintenir la forme naturelle du plant mais également de garantir 
        une bonne floraison et une bonne fructification dans le cas des arbres fruitiers. En fonction du type d’arbre et des besoins exprimés par son propriétaire, 
        la taille sera différente, plus ou moins légère, ce qui influe aussi sur le prix de la prestation. Pour une silhouette harmonieuse et équilibrée de vos plantes, 
        adressez-vous à un élagueur expérimenté comme Espace Vert en Ligne pour votre élagage.</p>
    </div>
    <div class="col-md-12">
        <img class="featurette-image img-fluid mx-auto img-thumbnail" src="{{ asset('/assets/img/elagage.jpg')}}"  alt="elagage" preserveAspectRatio="xMidYMid slice" focusable="false">
        {# <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><img scr=<text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> #}
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-12">
        <h2 class="featurette-heading">Débroussaillage. <span class="text-muted">Protection de votre environnement.</span></h2>
        <p class="lead">Le débroussaillement offre une protection de la forêt en permettant de limiter le développement d’un départ de feu à partir de votre propriété. 
        Le débroussaillement vous protège, ainsi que votre maison, en favorisant une baisse d'un départ de feu et permet ainsi une meilleure sécurité. Le débroussaillement 
        est une obligation de l’article L131-10 du Code forestier qui le définit comme l’ensemble des opérations de réduction des combustibles végétaux de toute nature dans 
        le but de diminuer l'intensité et de limiter la propagation des incendies. Le débroussaillage est efficace pour un endroit bien défini de votre jardin et offrira 
        une meilleure propreté. Le débroussaillage doit s'effectuer entre 20 et 50 mètres autour de votre habitation. Nous vous rencontrerons dans votre jardin pour discuter 
        de ce que vous attendez de votre jardin. Nous évaluerons l'environnement et discuterons avec vous de la manière dont votre jardin sera utilisé et par qui, de manière 
        à obtenir une image claire de vos besoins. Nous vous montrerons des exemples de notre travail et des dessins pour vous donner une meilleure compréhension de la portée 
        de notre travail et du processus de conception. Nous pouvons également fournir des références et des emplacements de certains de nos chantiers achevés que vous pouvez 
        visiter et avoir une idée de notre travail.</p>
    </div>
    <div class="col-md-12">
        <img class="featurette-image img-fluid mx-auto img-thumbnail" src="{{ asset('/assets/img/debroussaillage2.jpg')}}"  alt="debroussaillage" preserveAspectRatio="xMidYMid slice" focusable="false">
        {# <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> #}
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-12">
        <h2 class="featurette-heading">Taille de Haies. <span class="text-muted">Réaliser une taille de haie de façon régulière.</span></h2>
        <p class="lead">Que vous ayez une haie de conifères comme les thuyas, les cyprès, les ifs… ou de feuillus tels que les lauriers, les fusains, les photinias… Il est nécessaire de réaliser une taille de haie de façon régulière afin qu’elle respecte la taille réglementaire mais aussi pour qu’elle puisse former un mur d’écran dense qui protège du vis-à-vis et du vent. Cette opération obéit à des règles très strictes toujours suivies à la lettre par notre Espace vert en Ligne ! Notre entreprise intervient sur la haie libre comme sur la haie taillée. Dans le premier cas, les coupes sont légères et réalisées seulement de temps à autre pour contenir sa croissance et que la haie ne devienne pas une gêne. Pour la haie taillée, les coupes sont plus rigoureuses car l’objectif est qu’elle forme un réel mur végétal que ce soit en bordure de votre jardin où à l’intérieur de celui-ci afin de délimiter les différents espaces. Dans tous les cas, il faut savoir que la taille de haie est à réaliser dès la plantation de vos arbustes. En effet, durant les trois premières années, notre tailleur de haie réalise une coupe de formation. Son objectif est de lui permettre de bien pousser et avec une bonne épaisseur. Si vous avez planté des feuillus, il faut rabattre l’arbuste à 20 cm du sol lors de la première coupe puis supprimer 30 % de la pousse les années suivantes. En revanche, si ce sont des conifères, c’est la moitié de la pousse qui est coupée pendant les trois premières années. Notre tailleur de haie va égaliser les côtés en coupant les rameaux et commencer à lui donner une forme plus large à la base par rapport au sommet.</p>
    </div>
    <div class="col-md-12">
        <img class="featurette-image img-fluid mx-auto img-thumbnail" src="{{ asset('/assets/img/tailleHaie.jpg')}}"  alt="taille haie" preserveAspectRatio="xMidYMid slice" focusable="false">
        {# <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> #}
    </div>
</div>

<!-- /END THE FEATURETTES -->

{% endblock %}
